<div class="container py-5 main-content">
    <div class="row d-flex justify-content-center align-items-center gy-4">
        <div class="col-12 d-flex justify-content-center" style="height: 66vh; width: 100%;">
          <img [src]="post?.art_id ? 'http://localhost:3000/uploads/' + post.art_id : ''" style="height: 100%; object-fit: contain;">
        </div>
        <div class="col-12 bg-dark py-3 px-3 text-white">
            <h5>
              Artist: 
              <a routerLink="/profile" [queryParams]="{artist_id: post?.creator_id || ''}">
                <b class="text-white"style="text-decoration: underline;">{{post?.artist_nickname || "Artist Name"  }}</b>
            </a> 
              <strong style="margin-left: 1rem;">[Post]</strong>
            </h5>
            <p >CreatedAt: {{post.created_at}}</p>
            <p class="mt-3">{{post?.text || "(Description) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel libero ut nunc luctus tincidunt. Maecenas in molestie leo. Vivamus a urna ac erat scelerisque euismod"}}</p>
        </div>
    </div>
</div>