<div class="card">
    <a routerLink="/art" [queryParams]="{id: post?.id}" routerLinkActive="active">
        <img [src]="post?.art_id ? 'http://localhost:3000/uploads/' + post.art_id : ''" class="card-img-top">
    </a>
    <div class="artist-name">
        <span><h5 class="text-center" style="margin-top: 0.5rem;">
            By
            <a routerLink="/profile" [queryParams]="{artist_id: post?.creator_id || ''}">
                <b style="text-decoration: underline;">{{post?.artist_nickname || "Artist Name" }}</b>
            </a> 
        </h5></span>
    </div>
</div>