<div class="container py-5 main-content">
    <div class="row d-flex align-items-center gy-4">

        <div class="col-4">
            <app-art-image [artist_name]="artist_name" [id]="id" [artist_id]="artist_id"></app-art-image>
        </div>
        <div class="col-4">
            <app-art-image></app-art-image>
        </div>
        <div class="col-4">
            <app-art-image></app-art-image>
        </div>
        <div class="col-4">
            <app-art-image></app-art-image>
        </div>
    </div>
</div>