<div class="container py-5 main-content">
    <div class="row d-flex justify-content-center align-items-center gy-4">
        <div style="padding-left: 0;">
            <button type="button" class="btn btn-primary">Request</button>
            <button type="button" class="btn btn-secondary">Sent</button>
        </div>
        <div class="col-12 bg-dark py-3 px-3 text-white" style="min-height: 33vh">
            <p>CreatedAt: [Date]</p>
            <p class="mt-3">Genres <input><button class="btn btn-dark" style="height:100%">+</button></p>

            <p>[Genre1]<button class="btn btn-dark" style="height:100%">-</button></p>
            <p>[Genre2]<button class="btn btn-dark" style="height:100%">-</button></p>
            <p>[Genre3]<button class="btn btn-dark" style="height:100%">-</button></p>

            <p class="mt-3">Contacts <input><button class="btn btn-dark" style="height:100%">+</button></p>
            
            <p>[Contact1]<button class="btn btn-dark" style="height:100%">-</button></p>
            <p>[Contact2]<button class="btn btn-dark" style="height:100%">-</button></p>
            <p>[Contact3]<button class="btn btn-dark" style="height:100%">-</button></p>

        </div>
    </div>
</div>